/* ROOT */
.dashboard-root {
    width: 100%;
    min-height: 100vh;
    background: #0e0e11;
    color: #eaeaea;
}

/* ===== NAVBAR ===== */
.dashboard-navbar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 65px;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 999;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #bbbbbb;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 8px;
    transition: 0.2s ease;
}

.navbar-links a:hover {
    background: rgba(140, 64, 255, 0.2);
    color: #fff;
}

.navbar-links a.active {
    background: linear-gradient(135deg, #9c42f5, #6a1bb1);
    color: #fff;
    box-shadow: 0 4px 15px rgba(140, 64, 255, 0.3);
}

/* CONTENT BELOW NAVBAR */
.dashboard-content {
    padding: 30px;
    padding-top: 100px;
    /* navbar yüksekliği boşluk */
    animation: fadeIn 0.7s ease;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .navbar-links {
        gap: 10px;
    }


    .navbar-links a {
        font-size: 14px;
        padding: 8px 10px;
    }
}