.nav-link {
    position: relative;
    transition: 0.3s;
    text-decoration: none !important;
}

.nav-link:hover {
    color: #d49c72 !important;
}

.active-link {
    color: #d49c72 !important;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #d49c72;
}